.movie-details-bg-container {
  background-color: black;
  height: 90vh;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .movie-details-bg-container {
    padding: 0px 80px;
  }
}

.movie-details-container-main {
  background-color: rgb(51, 44, 44);
  background-size: cover;
}

.movie-info-container {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .movie-info-container {
    display: flex;
  }
}

.movie-details-movie-poster {
  align-self: center;
  border-radius: 10px;
}
.movie-details-container {
  padding: 10px 0px 10px 10px;
  flex-grow: 1;
}
.movie-details-movie-title {
  font-size: 28px;
  color: white;
}
@media screen and (min-width: 768px) {
  .movie-details-movie-title {
    font-size: 28px;
  }
}
.movie-details-ratings {
  font-size: 18px;
}

.movie-details-genre-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  margin: 0px;
}
.movie-details-genre-list-item {
  margin-right: 25px;
}
.movie-details-release-date {
}
.movie-details-overview {
  text-align: justify;
}

.movie-details-cast-heading {
  color: white;
}
