.nav-bar {
  height: 10vh;
  padding: 0px 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  margin: 0;
  font-size: 18px;
  color: white;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    padding: 0px 80px;
  }
  .nav-header {
    font-size: 25px;
  }
}

.nav-bar-navs {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.nav-bar-items {
}
@media screen and (min-width: 768px) {
  .nav-bar-navs {
    gap: 10px;
  }
  .nav-bar-items {
  }
}

.nav-bar-link {
  text-decoration: none;
}
.nav-bar-buttons {
  font-size: 10px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.nav-bar-search-container {
  display: flex;
  align-items: center;
  border: 1px solid grey;
}
.nav-bar-search {
  flex-grow: 1;
  width: 50px;
  font-size: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: transparent;
  padding-left: 5px;
}
@media screen and (min-width: 321px) {
  .nav-bar-search {
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar-search {
    width: 250px;
  }
  .nav-bar-buttons {
    font-size: 13px;
  }
}

.header-search-link {
  border-left: 1px solid grey;
}
.nav-bar-search-button {
  border-left: 1px solid grey;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 8px;
}
.nav-bar-search-icon {
}

@media screen and (min-width: 1024px) {
  .nav-bar-buttons {
    font-size: 20px;
  }
  .nav-bar-search-button {
    font-size: 15px;
  }
}
